/* Grid system */
.grid-piece{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: #000000 1px solid;
}
.grid-1{
    top: 0;
    left: 0;
}
.collumn{
    top: 0;
    position: absolute;
}
.collumn-2{
    margin-left: 50px;
}
.collumn-3{
    margin-left: 100px;
}
.collumn-4{
    margin-left: 150px;
}
.collumn-5{
    margin-left: 200px;
}
.collumn-6{
    margin-left: 250px;
}
.collumn-7{
    margin-left: 300px;
}
.collumn-8{
    margin-left: 350px;
}
.collumn-9{
    margin-left: 400px;
}
.collumn-10{
    margin-left: 450px;
}
.collumn-11{
    margin-left: 500px;
}
.collumn-12{
    margin-left: 550px;
}
.collumn-13{
    margin-left: 600px;
}
.collumn-14{
    margin-left: 650px;
}
.collumn-15{
    margin-left: 700px;
}
.collumn-16{
    margin-left: 750px;
}
.collumn-17{
    margin-left: 800px;
}
.collumn-18{
    margin-left: 850px;
}
.collumn-19{
    margin-left: 900px;
}
.collumn-20{
    margin-left: 950px;
}
body{
    margin: 0;
}
/* general */
.background{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/* buildings */
.buildings-bar{
    left: 0;
    width: 60%;
    position: fixed;
    height: 100px;
    background-color: #f9e0ae;
    bottom: 0;
    border-radius: 0 20px 0 0; 
}
.wood-harvester,.stone-harvester,.gold-harvester,.tower{
    padding: 5px;
    height: 40px;
    width: 40px;
}
.main-wood,.main-stone,.main-gold,.main-tower{
    padding: 10px;
    height: 80px;
    width: 80px;
}
.main-wood{
    position: fixed;
    left: 0;
    bottom: 0;
}
.main-stone{
    position: fixed;
    left: 100px;
    bottom: 0;
}
.main-gold{
    position: fixed;
    left: 200px;
    bottom: 0;
}
.main-tower{
    position: fixed;
    left: 300px;
    bottom: 0;
}
#HQ{
    width: 50px;
    height: 50px;
    position: absolute;
}
/* materials */
.materials-bar{
    background-color: #f9e0ae;
    position: fixed;
    height: 100px;
    width: 60%;
    top: 0;
    right: 0;
    border-radius: 0 0 0 20px;
}
.mats{
    padding: 10px;
    width: 80px;
    height: 80px;
}
.mats-count{
    display: inline;
    position: relative;
    bottom: 35px;
    margin: 10px;
    font-size: 50px;
    font-family: sans-serif;
}
/* enemy */
.enemy{
    width: 25px;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
/* Arrow */
.arrow{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 3;
}
/* loose elements */
.loose-heading{
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 50px;
}
.loose-container{
    background-color: #bedcfa;
    border-radius: 20px;
    height: 50%;
    width: 50%;
    position: fixed;
    text-align: center;
    top: 25%;
    left: 25%;
    z-index: 5;
}
.restart-btn{
    margin-right: 50px;
}
.home-btn{
    margin-left: 50px;
}
/* home page */
.home-heading{
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 100px;
    font-size: 100px;
}
.fas,.far{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}
.container{
    margin: 0;
    left: 0;
    top: 0;
    background-color: #00FF7F;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.play-btn{
    font-size: 50px;
    margin-right: 50px;
}
.question-btn{
    font-size: 50px;
    background-color: transparent;
    border: none;
    margin-left: 50px;
    cursor: pointer;
}
/* how to play */
.htp-container{
    top: 15%;
    background-color: #00FF7F;
    height: 70%;
    z-index: 2;
}
.hidden{
    display: none;
}
.overlay{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.close-btn{
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.copyright{
    position: absolute;
    left: 45%;
    bottom: 1px;
}
body{
    background-color: green;
}
/* material-costs */
.mats-label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.wood-label{
    color: saddlebrown;
}
.stone-label{
    color: grey;
}
.gold-label{
    color: gold;
}
.costs-container{
    border: solid 3px;
    padding: 5px 10px;
    width: 94px;
    height: 40px;
    background-color: #bedcfa;
    position: absolute;
    bottom: 100px;
}
.wood-costs{
    left: 0;
}
.stone-costs{
    left: 100px;
}
.gold-costs{
    left: 200px;
} 
.tower-costs{   
    left: 300px;
    border-radius: 0 20px 0 0;
}