/* Grid system */
.grid-piece{
    background-color: transparent;
    width: 50px;
    height: 50px;
}
.grid-1{
    margin-top: 100px;
    left: 0;
}
.collumn{
    top: 0;
    position: absolute;
}
.collumn-1{
    margin-left: 218px;
}
.collumn-2{
    margin-left: 268px;
}
.collumn-3{
    margin-left: 318px;
}
.collumn-4{
    margin-left: 368px;
}
.collumn-5{
    margin-left: 418px;
}
.collumn-6{
    margin-left: 468px;
}
.collumn-7{
    margin-left: 518px;
}
.collumn-8{
    margin-left: 568px;
}
.collumn-9{
    margin-left: 618px;
}
.collumn-10{
    margin-left: 668px;
}
.collumn-11{
    margin-left: 718px;
}
.collumn-12{
    margin-left: 768px;
}
.collumn-13{
    margin-left: 818px;
}
.collumn-14{
    margin-left: 868px;
}
.collumn-15{
    margin-left: 918px;
}
.collumn-16{
    margin-left: 968px;
}
.collumn-17{
    margin-left: 1018px;
}
.collumn-18{
    margin-left: 1068px;
}
.collumn-19{
    margin-left: 1118px;
}
.collumn-20{
    margin-left: 1168px;
}
body{
    margin: 0;
    background-color: #bedcfa;
}
/* general */
.background{
    width: 1002px;
    height: 988px;
    position: absolute;
    top: 100px;
    left: 218px;
    z-index: -1;
    border-radius: 10px;
}
/* buildings */
.buildings-bar{
    right: 0;
    width: 220px;
    position: fixed;
    height: 55%;
    background-color: #f9e0ae;
    bottom: 0;
    border-radius: 20px 0 0 0; 
}
.wood-harvester,.stone-harvester,.gold-harvester,.tower{
    padding: 5px;
    height: 40px;
    width: 40px;
}
.main-wood,.main-stone,.main-gold,.main-tower{
    padding: 10px;
    height: 80px;
    width: 80px;
}
.main-wood{
    position: fixed;
    right: 110px;
    bottom: 300px;
}
.main-stone{
    position: fixed;
    right: 110px;
    bottom: 200px;
}
.main-gold{
    position: fixed;
    right: 110px;
    bottom: 100px;
}
.main-tower{
    position: fixed;
    right: 110px;
    bottom: 0;
}
#HQ{
    width: 50px;
    height: 50px;
    position: absolute;
}
/* materials */
.materials-bar{
    background-color: #f9e0ae;
    position: fixed;
    height: 100px;
    width: 60%;
    top: 0;
    right: 0;
    border-radius: 0 0 0 20px;
}
.mats{
    padding: 10px;
    width: 80px;
    height: 80px;
}
.mats-count{
    display: inline;
    position: relative;
    bottom: 35px;
    margin: 10px;
    font-size: 50px;
    font-family: sans-serif;
}
/* enemy */
.enemy{
    width: 25px;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
/* Arrow */
.arrow{
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 3;
}
/* loose elements */
.loose-heading{
    color: #ffffff;
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 50px;
}
.loose-container{
    background-color: #bedcfa;
    border-radius: 20px;
    height: 50%;
    width: 50%;
    position: fixed;
    text-align: center;
    top: 25%;
    left: 25%;
    z-index: 5;
}
.restart-btn{
    margin-right: 50px;
}
.home-btn{
    margin-left: 50px;
}
/* home page */
.home-heading{
    color: #222831;
    font-family: 'Bree Serif', serif;
    margin-top: 110px;
    margin-left: 25px;
    font-size: 50px;
    line-height: 1.6;   
}
.goldmine{
    font-family:'Chakra Petch', sans-serif;
    margin-top: -20px;
    margin-left: 25px;
    font-size: 30px;
    color: #825959;
}
.goldarrow{
    height: 40px;
    width: 30px;
}
.far{
    margin-left: 90px;
    margin-top: 50px;
    color: #f2dcbb;
    text-decoration: none;
}
.far:hover{
    margin-left: 90px;
    margin-top: 50px;
    color: #c6b497;
    text-decoration: none;
}
.fas{
    color: #f2dcbb;
    text-decoration: none;
    position: absolute;
    margin-left: 190px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.fas:hover{
    color: #96bb7c;
    text-decoration: none;
    position: absolute;
    margin-left: 190px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.container{
    background-color: #f8f7de;
    z-index: -2;
    margin: 0;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
}
.hq-pic{
    position: absolute;
    left: 200px;
    top: 10px;
    z-index: -1;
    width: 1000px;
    height: 750px;

}
.play-btn{
    font-size: 100px;
    margin-right: 50px;
}
.question-btn{
    position: absolute;
    margin-left: 190px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* how to play */
.htp-container{
    top: 15%;
    background-color: #99b898;
    height: 70%;
    z-index: 2;
}
.hidden{
    display: none;
}
.overlay{
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.close-btn{
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.copyright{
    position: absolute;
    left: 45%;
    bottom: 1px;
}
body{
    z-index: -2;
}
/* material-costs */
.mats-label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}
.wood-label{
    color: saddlebrown;
}
.stone-label{
    color: grey;
}
.gold-label{
    color: gold;
}
.costs-container{
    border: solid 2px;
    padding: 5px;
    width: 85px;
    height: 40px;
    background-color: #bedcfa;
    position: absolute;
}
.wood-costs{
    right: 5px;
    bottom: 320px;
}
.stone-costs{
    right: 5px;
    bottom: 220px;
}
.gold-costs{
    right: 5px;
    bottom: 120px;
} 
.tower-costs{   
    right: 5px;
    bottom: 20px;
}